.container {
  padding-top: clamp(3.6875rem, 1.1107rem + 7.9286vw, 10.625rem);

  margin-left: clamp(1.25rem, -5.7143rem + 21.4286vw, 20rem);
  margin-right: clamp(1.25rem, -2rem + 10vw, 10rem);
  border: 1px solid color-mix(in srgb, var(--black-blue) 10%, transparent);
  border-top: none;
  border-bottom: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;

  @media (max-width: 800px) {
    border: none;
    margin-inline: 20px;
  }
  @media (max-width: 540px) {
    padding-bottom: 15px;
  }
  @media (max-width: 420px) {
    justify-content: start;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: color-mix(in srgb, var(--black-blue) 10%, transparent);

    @media (max-width: 570px) {
      display: none;
    }
  }

  &::before {
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
  }
  &::after {
    height: 1px;
    width: 100%;
    top: 50%;
  }

  .sectionTitle {
    font-weight: bold;
    line-height: 1.2;
    color: var(--black-blue);

    font-size: clamp(1.25rem, 0.2273rem + 5.1136vw, 3.5rem);
    position: relative;
    padding-left: 78px;
    @media (max-width: 800px) {
      padding-left: clamp(1.25rem, -5.4821rem + 20.7143vw, 4.875rem);
    }
    @media (max-width: 420px) {
      padding-left: 0;
      margin-top: 59px;
      margin-bottom: 57px;
    }
    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 5px;
      margin-left: -1px;
      background: linear-gradient(
        to bottom,
        rgb(56, 119, 238),
        rgb(239, 93, 168)
      );
      @media (max-width: 420px) {
        display: none;
      }
    }
  }

  .selectContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.downPart {
  display: flex;
  flex-direction: column;
  gap: 56px;

  padding-left: 80px;
  @media (max-width: 800px) {
    gap: 16px;
    padding-left: 60px;
  }
  @media (max-width: 540px) {
    padding-left: 0;
  }
}
